<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- icon cdn -->
    <link
            href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css"
            rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/style.css" />
    <title>Login</title>
</head>
<body>
<!-- Container -->
<div class="container js-container" id="container">
    <!-- Row -->
    <div class="row">
        <!-- Sign Up -->
        <div class="col align-center flex-col sign-up js-sing-up">
            <div class="form-wrapper align-center">
                <form class="form sign-up"> <!--Form-->
                    <div class="input-group">
                        <i class="bx bxs-users"></i>
                        <input type="text" name="text" placeholder="Username" />
                    </div>
                    <div class="input-group">
                        <i class="bx bx-mail-send"></i>
                        <input type="email" name="email" placeholder="Email" />
                    </div>
                    <div class="input-group">
                        <i class="bx bxs-lock-alt"></i>
                        <input type="password" name="password" placeholder="Password" />
                    </div>
                    <button type="submit" id="btnClick">Sign up</button>
                    <p>
                        <span>Already have an account?</span>
                        <b id="sign-in">Sign in here</b>
                    </p>
                </form>
            </div>

            <!-- icons -->
            <div class="form-wrapper">
                <div class="social-list align-center sign-up">
                    <div class="align-center facebook-bg">
                        <i class="bx bxl-facebook"></i>
                    </div>
                    <div class="align-center google-bg">
                        <i class="bx bxl-google"></i>
                    </div>
                    <div class="align-center twitter-bg">
                        <i class="bx bxl-twitter"></i>
                    </div>
                    <div class="align-center insta-bg">
                        <i class="bx bxl-instagram-alt"></i>
                    </div>
                </div>
            </div>
            <!-- End Icons -->
        </div>
        <!-- End Sign Up -->

        <!-- Sign In -->
        <div class="col align-center flex-col sign-in js-sign-in">
            <div class="form-wrapper align-center">
                <div class="form sign-in">
                    <div class="input-group">
                        <i class="bx bxs-users"></i>
                        <input type="text" placeholder="Username" />
                    </div>
                    <div class="input-group">
                        <i class="bx bxs-lock-alt"></i>
                        <input type="password" placeholder="Password" />
                    </div>
                    <button>Sign in</button>
                    <p>
                        <span> Don't have an account? </span>
                        <b id="sign-up">Sign up here</b>
                    </p>
                </div>
            </div>
            <!-- icons -->
            <div class="form-wrapper">
                <div class="social-list align-center sign-in">
                    <div class="align-center facebook-bg">
                        <i class="bx bxl-facebook"></i>
                    </div>
                    <div class="align-center google-bg">
                        <i class="bx bxl-google"></i>
                    </div>
                    <div class="align-center twitter-bg">
                        <i class="bx bxl-twitter"></i>
                    </div>
                    <div class="align-center insta-bg">
                        <i class="bx bxl-instagram-alt"></i>
                    </div>
                </div>
            </div>
            <!-- End Icons -->
        </div>
        <!-- End Sign In -->
    </div>
    <!-- End Row -->

    <!-- Content Section -->
    <div class="row content-row">
        <!-- Sign In Content -->
        <div class="col align-items flex-col">
            <div class="text sign-in">
                <h2>로그인 페이지</h2>
                <p>내용1</p>
            </div>

        </div>

        <!-- Sign Up Content -->
        <div class="col align-items fl  ex-col">

            <div class="text sign-up">
                <h2>회원가입 페이지</h2>
            </div>
        </div>
    </div>

</div>
<!-- End Container -->

<!-- Script -->
<script src="/js/index.js"></script>

</body>
</html>