/* Vars */
:root {
    --point: #9932CC;
}
/* popup start */
.post__profile .popup_start{
    right: 10px;
    top : 20px;
}
.post__header .material-icons {
    display:flex;
    font-size: 25px;
    color: #9932CC;
    cursor: pointer;
}

/* 토글 */
.popup_layer.active {
    display: flex;
}

/*popup*/
.popup_layer {
    display: none;
    position:fixed;
    top:0;
    left:0;
    z-index: 10000;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

/*팝업 박스*/
.popup_box{
    position: relative;
    top:50%;
    left:50%;
    overflow:hidden;
    height: 75%;
    width:65%;
    transform:translate(-50%, -50%);
    z-index:1002;
    box-sizing:border-box;
    background:#fff;
    box-shadow: 2px 5px 10px 0px rgba(0,0,0,0.35);
    -webkit-box-shadow: 2px 5px 10px 0px rgba(0,0,0,0.35);
    -moz-box-shadow: 2px 5px 10px 0px rgba(0,0,0,0.35);
    border-radius: 30px;
}

/*컨텐츠 영역*/
.popup_cont {
    display: flex;
    flex-direction: column;
    padding: 0;
    line-height:1.4rem;
    font-size:30px;
}

.popup_header {
    display: flex;
    height: 60px;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    border-bottom: .5px solid #ddd;
}
.popup_header .back span {
    color: #9932CC;
    font-weight: 700;
    font-size: 30px;
}

.popup_header .title{
    font-weight: 700;
    font-size: 20px;
    color: var(--text-dark)
}

.popup_header .share{
    color: #9932CC;
    font-weight: 900;
    font-size: 20px;
}

.popup_contents {
    display: flex;
    height: 980px;
    width: 100%;
}

.popup_photoarea {
    display: flex;
    width: 65%;
    height: 100%;
    background-color: #fafafa;
}

.popup_photoinfo {
    display: flex;
    width: 30%;
    flex-direction: column;
    border-left: .5px solid #ddd ;;
    padding: 10px 10px;
}

.popup_photoinfo span{
    font-size: 1px;
}

.popup_photoinfo .material-icons {
    font-size: 20px;
}

.popup_photoinfo .material-icons{
    font-size: 20px;
    text-decoration: none;
}
.photoinfo_name{
    display: flex;
    height: 70px;
    align-items: center;
}

.photoinfo_name img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    margin: 0 13px;
}
.photoinfo_name span{
    font-size: 20px;
    font-weight: 500;
    color: var(--text-dark);
    text-decoration: none;
}
.photoinfo_category{
    font-size: 14px;
    padding-left: 20px;
}


.photoinfo_contents{
    height: 320px;
}

.photoinfo_contents span {
    font-size: 20px;
    text-decoration: none;
}
.photoinfo_contents .title {
    margin-top: 5px;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}

.photoinfo_contents .contents {
    margin-top: 20px;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}

.photoinfo_contents input{
    width: 100%;
    height: 40px;
    font-size: 14px;
    border: 0;
    padding: 10px;
    outline: none;
}

.photoinfo_contents textarea{
    width: 100%;
    height: 450px;
    /* margin-top: 250px; */
    font-size: 14px;
    border: 0;
    padding: 10px;
    outline: none;
}

/*버튼영역*/
.popup_btn {
    /* display: table; */
    /* table-layout: fixed; */
    position: fixed;
    width:100%;
    height:70px;
    top:0;
}

.popup_btn a .material-icons {
    position: absolute;
    right: 0;
    height:70px;
    font-size:40px;
    font-weight: 900;
    color: white;
    text-align:center;
    text-decoration:none;
    padding: 30px;
}


.popup_btn a.close_day:before,
.popup_btn a.close_day:after{
    display:none;
}

/*오버레이 뒷배경*/
.popup_overlay{
    position:fixed;
    top:0px;
    right:0;
    left:0;
    bottom:0;
    z-index:1001;
    background:rgba(0,0,0,0.5);}
/*popup 끝 */


/* 사진업로드 파일박스 */
.filebox {
    display: flex;
    flex-direction: column;
    margin: 20px auto 10px;
    text-align: center;
}


/* 사진업로드 label스타일 변경 */
.filebox input{
    height: 0;
    width: 0;
    opacity: 1;
}
.filebox label{
    display: block;
    width: 30px;
    height: 30px;
    border: 1px solid #efb6b2;
    border-radius: 50%;
    margin: 10px auto;
    line-height: 25px;
    color: #efb6b2;
    font-weight: bold;
    font-size: 28px;
    cursor: pointer;
}
.filebox label:hover{
    background:#efb6b2;
    color: white;
    transition: 0.8s;
}


.filebox .preImg{
    max-width: 70%;
    padding-top: 20px;

}
.filebox .preText{
    width: 600px;
    color: #999999;
    font-size: 16px;
    padding: 10px;
    margin: 0 0 0 45px;
}
button,
button:focus {
    border: none;
    cursor: pointer;
    outline: none;
    background-color: white;}

@media (max-width: 767px) {
    .popup_photoarea .filebox{
        display: none;
    }
}

@media (max-width: 767px) {
    .popup_photoinfo {
        width: 5000%;
    }
}